# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.logs
logs/

# Ignore debug logs
debug.log

# Ignore npm debug logs
npm-debug.log*

# Ignore build/dist directories
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore package-lock.json (optional, only if you use yarn)
package-lock.json

# Ignore yarn.lock (optional, only if you use npm)
yarn.lock